.ClubPortal{
    display: inline-block;
    box-sizing: border-box;
    float: left;
    cursor: pointer;
    margin: 13px 4.5% 13px 4.5%;
    width: 41%;
    height: 325px;
    border-radius: 30px;
    font-size: 1vw;
    background-color: black;
    position: relative;
    text-align:center;
    vertical-align: top;
    overflow: hidden;
    box-shadow: 4px 4px 8px gray;
}

.ClubPortal:hover .overlay{
    background-color: rgba(255, 255, 255, .7);
    transform: translateX(0);
}

.ClubPortal:hover .overlayButton{
    background-color: rgba(255, 255, 0, 1);
}

.imageContainer{
    float: left;
    width: 50%;
    height: 100%;
    border-radius: inherit;
    z-index: 10;
    position: relative;
    text-align:center;
    overflow: hidden;
}

.image{
    vertical-align: middle;
    display: inline-block;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

    max-height: 100%;
    position: absolute;

    border-radius: inherit;
    top: -9999px;
    left: -9999px;
    right: -9999px;
    bottom: -9999px;
    margin: auto;
}

.Header {
    color: white;
    margin: auto;
    padding: 30% 10% 0 0;
    vertical-align: middle;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}

.overlay{
    cursor: auto;
    position: absolute;
    z-index: 20;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    transform: translateY(-100%);
    transition-duration: 0.1s;
}

.overlayButton {
    pointer-events: all !important;
    opacity: 1;
    cursor: pointer;
    width: 20%;
    height: 40px;
    margin: auto;
    border-radius: 50px;
    border: none;
    background-color: rgba(255, 255, 0, 0);
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 24px;
    outline: none;
}

.overlayButton:focus{
    outline: none;
}

.overlayButton:active {
    background-color: yellowgreen;
    transform: translateY(4px);
    outline: none;
}

.overlayLink{
    top: 40%;
    position: relative;
    text-decoration: none;
    border-radius: 30px;
}

/**
Small club portal
 */
.ClubPortalSmall{
    display: inline-block;
    float: left;
    cursor: pointer;
    margin: 13px 4.5% 13px 4.5%;
    width: 41%;
    height: 150px;
    border-radius: 30px;
    background-color: black;
    position: relative;
    text-align:center;
    vertical-align: top;
    overflow: hidden;
    box-shadow: 4px 4px 8px gray;
}

.ClubPortalSmall:hover .overlay{
    background-color: rgba(255, 255, 255, .7);
    transform: translateX(0);
}

.ClubPortalSmall:hover .overlayButton{
    background-color: rgba(255, 255, 0, 1);
}

.HeaderSmall {
    color: white;
    margin: auto;
    padding: 12% 10% 0 0;
    vertical-align: middle;
    font-size: 1vw;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}

.Full{
    margin: 13px 3% 13px 3%;
    width: 27.3%;
}