.ClubPortal{
    display: inline-block;
    float: left;
    cursor: pointer;
    margin: 13px 40px 13px 0;
    width: 42%;
    height: 325px;
    border-radius: 30px;
    font-size: 1vw;
    background-color: black;
    position: relative;
    text-align:center;
    vertical-align: top;
}

.imageContainer{
    float: left;
    width: 50%;
    height: 100%;
    border-radius: inherit;
    z-index: 10;
    position: relative;
    text-align:center;
    overflow: hidden;
}

.image{
    vertical-align: middle;
    display: inline-block;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

    max-height: 100%;
    position: absolute;

    border-radius: inherit;
    top: -9999px;
    left: -9999px;
    right: -9999px;
    bottom: -9999px;
    margin: auto;
}

.Header {
    color: white;
    margin: auto;
    padding: 30% 10% 0 0;
    vertical-align: middle;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}

/**
Small club portal
 */
.ClubPortalSmall{
    display: inline-block;
    float: left;
    cursor: pointer;
    margin: 13px 40px 13px 0;
    width: 42%;
    height: 150px;
    border-radius: 30px;
    background-color: black;
    position: relative;
    text-align:center;
    vertical-align: top;
}

.HeaderSmall {
    color: white;
    margin: auto;
    padding: 15% 10% 0 0;
    vertical-align: middle;
    font-size: 1vw;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}