.Events {
    margin-top: 80px;
    width: 100%;
    height: 100%;
    background-color: white;
    position: fixed;
    overflow-y: auto;
}

.title{
    width: 66%;
    text-align: left;
    margin: 3% 0 2% 9%;
    font-family: 'DM Serif Display', serif;
}

.CurrentEvents{
    width: 66%;
    height: 1000px;
    display: inline-block;
    float: left;
}

.Search {
    float: left;
    margin: 1% calc(96.7% - 300px) 4% 9%;
    font-size: 18px;
    border-radius: 30px;
    width: 300px;
    height: 40px;
    padding: 0 0 0 35px;
    font-family: 'Open Sans', sans-serif;
    border: none;
    outline: none;
    background-color: #F0F0F0;
}

.searchButton {
    float: left;
    font-size: 24px;
    position: relative;
    color: #818181;
    left: 400px;
    top: 43px;
}

.line {
    width: 82%;
    height: 1px;
    margin: 0.8% 0 0 9%;
    background-color: lightgrey;
    display: block;
}