.EventsPortal{
    display: inline-block;
    float: left;
    cursor: pointer;
    margin: 13px 9% 13px 9%;
    width: 82%;
    height: 150px;
    border-radius: 30px;
    background-color: black;
    position: relative;
    text-align:center;
    vertical-align: top;
    box-shadow: 4px 4px 8px gray;
}

.Header {
    color: white;
    margin: auto;
    padding: 10% 0 0 55%;
    vertical-align: middle;
    font-size: 1vw;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    text-align: left;
}

.imageContainer{
    float: left;
    width: 50%;
    height: 100%;
    border-radius: inherit;
    z-index: 10;
    position: relative;
    text-align:center;
    overflow: hidden;
}

.image{
    vertical-align: middle;
    display: inline-block;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

    max-height: 120%;
    position: absolute;
    opacity: 0.8;

    border-radius: inherit;
    top: -9999px;
    left: -9999px;
    right: -9999px;
    bottom: -9999px;
    margin: auto;
}
/*
.Time {
    color: yellow;
    margin: auto;
    padding: 0 23% 0 0;
    vertical-align: middle;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1vw;
}

.day{
    position: absolute;
    color: yellow;
    margin: 2% 0 0 5%;
    vertical-align: middle;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 4vw;
    z-index: 20;
}

.month{
    position: absolute;
    color: white;
    margin: 20% 0 0 5%;
    vertical-align: middle;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.5vw;
    z-index: 20;
}*/

.Time {
    color: #9EE000;
    margin: auto;
    padding: 0 23% 0 0;
    vertical-align: middle;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1vw;
}

.day{
    position: absolute;
    color: #9EE000;
    margin: 2% 0 0 5%;
    vertical-align: middle;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 4vw;
    z-index: 20;
}

.month{
    position: absolute;
    color: white;
    margin: 20% 0 0 5%;
    vertical-align: middle;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.5vw;
    z-index: 20;
}