.ClubHome{
    width: 100%;
    height: fit-content;
    margin: 0 0 2% 0;
}

.Header {
    font-family: 'DM Serif Display', serif;
    text-align: left;
    width: 100%;
    font-weight: normal;
}

.about {
    text-align: left;
    white-space: pre-line;
    max-width: 89%;
}

