.topnav {
    overflow: hidden;
    background-color: black;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 10;
}

.topnav img{
    margin: 10px 10px 0 30px;
    filter: brightness(80%) sepia(100%) saturate(1000%);
}

.topnav button {
    float: left;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    background-color: inherit;
    border: none;
    font-weight: normal;
    height: 100%;
    color: white;
    font-family: 'DM Serif Display', serif;
}

.topnav-right {
    float: right;
    height: 60px;
}
.topnav-right button {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

.topnav-right button {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

.topnav-right:nth-child(3) {
    margin-right: 40px;
}