.topnav {
    overflow: hidden;
    background-color: white;
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 10;
}

.topnav button {
    float: left;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;
    background-color: inherit;
    border: none;
    font-weight: bold;
    height: 100%;
}

.topnav button:hover {
    background-color: #292A3E;
    color: white;
}

.topnav button.active {
    background-color: #292A3E;
    color: white;
    outline: none;
    border: none;
}

.topnav button:focus {
    background-color: #292A3E;
    color: white;
    outline: none;
    border: none;
}

.topnav button:hover img{
    -webkit-filter: brightness(250%);
    filter: brightness(250%);
}

.topnav button:active img{
    -webkit-filter: brightness(250%);
    filter: brightness(250%);
}

.topnav button:focus img{
    -webkit-filter: brightness(250%);
    filter: brightness(250%);
}

.topnav-right {
    float: right;
    height: 60px;
}