.EventsOutlook {
    box-sizing: border-box;
    font-family: 'DM Serif Display', serif;
    margin: 0 0 0 0;
    padding: 2% 0 0 0;
    width: 33.3%;
    height: 700px;
    vertical-align: top;
    display: inline-block;
    float: left;
}

.Header {
    font-family: 'DM Serif Display', serif;
    font-weight: normal;
    font-size: 28px;
    padding: 0 0 0 10%;
    width: 100%;
    text-align: left;
    margin: 0 0 20px 0;
}