.Interest {
    display: inline-block;
    border-radius: 30px;
    border: 2px solid black;
    padding: 1% 2% 1% 2%;
    margin: 1% 2% 1% 0;
    float: left;
}

.On {
    background-color: black;
    color: white;
}

.value {
    display: inline-block;
    margin: 0 5px 0 0;
}

.icon {
    display: inline-block;
}