.ClubDirectory{
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    width: 66%;
    height: 1000px;
    border-radius: 0 30px 0 0;
    z-index: 10;
    margin: -6% 0 2% 0;
    padding: 3% 0 0 6%;
    position: relative;
    vertical-align: top;
    display: inline-block;
    background-color: white;
    float: left;

}

.Tabs{
    width: 100%;
    height: 5%;
}

.Tabs button{
    font-family: 'DM Serif Display', serif;
    float: left;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 28px;
    margin: 0 3% 0 0;
}

.Tabs button:active, .Tabs  button:focus {
    border-bottom: 10px solid #9EE000;
}

.line {
    width: 89%;
    height: 1px;
    margin: 0.4% 0 10px 0;
    background-color: lightgray;
    display: block;
}

.image {
    display: inline-block;
    max-width: 33%;
}
