.title{
    width: 66%;
    text-align: left;
    font-family: 'DM Serif Display', serif;
}

.CurrentEvents{
    width: 85%;
    height: 1000px;
    display: inline-block;
    float: left;
}

.Search {
    vertical-align: top;
    font-size: 18px;
    border-radius: 30px;
    width: 100%;
    height: 40px;
    padding: 0 0 0 35px;
    font-family: 'Open Sans', sans-serif;
    border: none;
    outline: none;
    background-color: #F0F0F0;
}

.searchButton {
    font-size: 24px;
    position: relative;
    color: #818181;
    left: 130px;
    bottom: 32px;
}

.SearchDiv {
    float: left;
    width: 300px;
    display: inline-block;
    height: 100%;
    margin: 0 1% 0 1%;
}

.Button {
    float: left;
    width: 20%;
    height: 100%;
    border-radius: 30px;
    border: none;
    margin: 0 1% 0 0;
    background-color: #9EE000;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    display: inline-block;
}

.Button:active {
    background-color: yellowgreen;
    transform: translateY(4px);
    outline: none;
}

.ToolBar {
    height: 4%;
    width: 100%;
    margin-top: 2%;
}

.Toggle {
    width: 32%;
    height: 100%;
    border-radius: 30px;
    border: 2px solid #9EE000;
    background-color: white;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1vw;
    cursor: pointer;
    outline: none;
    display: inline-block;
    padding-bottom: 1.5%;
    position: relative;
    float: left;
}
.Toggle:active, .Toggle:focus {
    outline: none
}

.Toggle div{
    width: 33.3%;
    height: 100%;
    border-radius: 30px;
    border: none;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1vw;
    cursor: pointer;
    outline: none;
    display: inline-block;
    position: absolute;
    top: 0;
    padding: 2% 0 0 0;
}

.Toggle button{
    width: 33.3%;
    height: 100%;
    border-radius: 30px;
    border: none;
    background-color: #9EE000;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1vw;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 0;
    -webkit-transition: all 1s; /* For Safari 3.1 to 6.0 */
    transition: left 0.3s;
}